@font-face {
    font-family: font-bold;
    src: url(fonts/Neutraface2Display-Bold.otf);
}
@font-face {
    font-family: font-inline;
    src: url(fonts/Neutraface2Display-Inline.otf);
}
@font-face {
    font-family: font-light;
    src: url(fonts/Neutraface2Display-Light.otf);
}
@font-face {
    font-family: font-medium;
    src: url(fonts/Neutraface2Display-Medium.otf);
}
@font-face {
    font-family: font-thin;
    src: url(fonts/Neutraface2Display-Thin.otf);
}
@font-face {
    font-family: font-titling;
    src: url(fonts/Neutraface2Display-Titling.otf);
}

*, body {
  font-family: font-bold;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.page{
  background: #000;
  color: #fff;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  text-align: center;
}
.nextBtnContainer{
  position: relative;
  text-align: center;
}
.next1{
   padding-top: 40vh;
}
.nextBtnText{
  display: inline-block;
  font-size: 4rem;
  padding-right: 1rem;
  vertical-align: middle;
}
.nextBtn{
   display: inline-block;
}
.next1 > .nextBtn > img{
  cursor: pointer;
  position: relative;
  bottom: -45px;
  padding: 10px;
  width: 40px;
}
.doors{
   position: absolute;
   bottom: 0;
   left: 0;
}
.oneThirdWidth{
   width: 22%;
   display: inline-block;
}
.next2{
   height: calc(80vh - 5rem);
}
.next2 > .nextBtn{
   width: 100%;
}
.next2 > .nextBtn img{
  cursor: pointer;
  position: relative;
  width: 200px;
}
.doorText{
  font-size: 4rem;
  position: relative;
  display: inline-block;
  padding-top: 20vh;
}
.cardSets{
   padding-top: 20vh;
   width: 100%;
}
.cardSets > img {
   width: 80%;
}
.next3 > .nextBtn img{
   position: relative;
   bottom: -45px;
   padding: 10px;
   width: 40px;
   cursor: pointer;
}
.webcamCircle{
   padding-top: 10vh;
}
.webcamCircle video{
   border-radius: 50%;
   width: 36vw;
   height: auto;
}
.next4{
   top: 20vh;
   width: 100%;
}
.next4 > .nextBtn img{
   position: relative;
   bottom: -45px;
   padding: 10px;
   width: 40px;
   cursor: pointer;
}
.globeText{
   font-size: 3rem;
}
.cardLost{
   font-size: 3rem;
   padding-top: 20vh;
}
.cardSetsNew{
   padding-top: 10vh;
   width: 100%;
}
.cardSetsNew > img {
   width: 80%;
}
.playAgain{
   font-size: 2rem;
}
.next5 > .nextBtn img{
   position: relative;
   bottom: -40px;
   padding: 10px;
   width: 30px;
   cursor: pointer;
}
